---
name: Type Check

on: # yamllint disable-line rule:truthy
  push:
    branches: [${{ default_branch }}]
  pull_request:
    branches: [${{ default_branch }}]

concurrency:
  {% raw %}
  group: "${{ github.head_ref || github.ref }}-${{ github.workflow }}"
  {% endraw %}
  cancel-in-progress: true

jobs:
  mypy:
    name: MyPy Type Check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Poetry
        run: pipx install poetry==1.8.3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          cache: poetry

      - name: Install dependencies
        run: make install-dev

      - name: Run MyPy
        run: poetry run mypy ${{ module_name }}
